.mainHeader{
    overflow: hidden;
    width:100%;
    background-color: #9FCFBB;;
}

.mainHeader1{
    overflow: hidden;
    width:100%;
    background-color: #7cdfe4;
}

.Prefrences{
    background-color: #cccccc;
    color:white;
    text-align: center;
    font-weight: bold;;
    padding: 4px;;
}



.TB{
    float: left;
    width:20%;
    text-align: center;
    padding: 10px 0px;
    color:white;
}

.TBB{
    float: left;
    width:33%;
    text-align: center;
    padding: 15px 7px;
    color:#15696c;
    font-weight: bold;
}

a{
    color: white;
}


.TB1{
    width:30%;
}

.selected{
    font-weight: bold;
    font-size:16px;
}

.tName{
    padding: 15px;
    color:#536b19;
    font-size: 18px;
    font-weight: bold;;
    padding-left:20px;
}

.refres{
    float: left;
    font-size: 30px;;
    margin-top: 10px;
    color:#536b19;
}