.TitleHeader{
    width:100%;
    overflow: hidden;
    margin-top: 0px;
    background-color: #f9ce89;
}

.therapistIMG{
    width:20%;
    margin-left: 5px;
    margin: 3px 10px 0px 8px;
    float: left;
}

.therapistTitle{
    float: left;
    width:55%;
    margin-top: 15px;
}

.nameDes{
    font-size: 24px;
    font-weight: bold;
}

.titleDes{
    font-size: 15px;
    font-weight: bold;
}

.call{
    width:12%;
    float: right;
    margin-right: 15px;
    margin-top: 17px;;
}

.infoRow{
    width:100%;
    overflow: hidden;
    background-color:#e8f3cb ;
    padding: 20px;
    margin-top: 2px;
    font-size: 17px;
    font-weight: bold;
    color:#526a17;
}

.leftInf{
    float: left;
    width:85%;
}

.rightInfo{
    float: right;
    width:8%;
    margin-top: -3px;
}