.head{
    background-color: #f7f7f7;
    padding: 10px 15px;
    font-weight: bold;
}

.info{
    padding: 10px 15px;
    border-bottom: 1px solid #f7f7f7;
    font-size: 17px;
}

.infoSmall{
    font-size: 13px;
}