<ion-header>
    <ion-toolbar>
        <ion-title>userDetails</ion-title>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div class="head">
        account
    </div>
    <div class="info">
        <div>user profile</div>
        <div class="infoSmall">Yonatan Kliger</div>
    </div>
    <div class="info">
        <div>account settings</div>
    </div>
    <div class="info">
        <div>connect to other services</div>
    </div>
    <div class="head">
        General
    </div>
    <div class="info">
        <div>Location</div>
        <div class="infoSmall">israel</div>
    </div>
    <div class="info">
        <div>Unit system</div>
        <div class="infoSmall">metric</div>
    </div>
    <div class="info">
        <div>Goals</div>
        <div class="infoSmall">set goals for trainings , steps , calories and sleep</div>
    </div>
    <div class="info">
        <div>Screen backlight</div>
        <div class="infoSmall">Automatic</div>
    </div>
    <div class="info">
        <div>Altitude offset</div>
        <div class="infoSmall">Altitude offset</div>
    </div>
</ion-content>